In [25]:
import pandas as pd
import numpy as np 

data = pd.read_csv('../datasets/Musical artists/scrobbler-small-sample.csv')
artists = pd.read_csv('../datasets/Musical artists/artists.csv',names=["Artist"])

data.head()

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [26]:
artists.head()

           Artist
0  Massive Attack
1         Sublime
2    Beastie Boys
3      Neil Young
4   Dead Kennedys

In [27]:
new_array=np.zeros((500,111))

In [28]:
new_array

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [29]:
data.shape

(2894, 3)

In [30]:
for i in range(2894):
    user=data.loc[i,'user_offset']
    art=data.loc[i,'artist_offset']
    play=data.loc[i,'playcount']
    new_array[user,art]=play

In [31]:
new_array

array([[   0.,  128.,    0., ...,    0.,    0.,    0.],
       [   0.,  211.,    0., ...,    0.,    0.,    0.],
       [ 105.,    0.,    0., ...,    0.,    0.,    0.],
       ...,
       [   0.,    0.,    0., ...,    0.,    0.,    0.],
       [   0.,    0.,    0., ...,    0.,   55.,    0.],
       [   0.,    0.,    0., ...,    0.,    0.,    0.]])

In [32]:
df=pd.DataFrame(new_array)

In [33]:
artists

                       Artist
0              Massive Attack
1                     Sublime
2                Beastie Boys
3                  Neil Young
4               Dead Kennedys
5                     Orbital
6                 Miles Davis
7               Leonard Cohen
8                Van Morrison
9                        NOFX
10                     Rancid
11                       Lamb
12                       Korn
13           Dropkick Murphys
14                  Bob Dylan
15                     Eminem
16                    Nirvana
17                  Van Halen
18                Damien Rice
19             Elvis Costello
20                  Everclear
21               Jimi Hendrix
22                  PJ Harvey
23      Red Hot Chili Peppers
24                 Ryan Adams
25                Soundgarden
26          The White Stripes
27                    Madonna
28               Eric Clapton
29                 Bob Marley
..                        ...
81                     Sparta
82                   Interpol
83         The Crystal Method
84             The Beach Boys
85                  Goldfrapp
86   Bob Marley & the Wailers
87              Kylie Minogue
88         The Blood Brothers
89                      Mirah
90                   Ludacris
91                Snow Patrol
92             The Mars Volta
93            Yeah Yeah Yeahs
94                 Iced Earth
95                Fiona Apple
96                 Rilo Kiley
97           Rufus Wainwright
98             Flogging Molly
99               Hot Hot Heat
100                     Dredg
101                Switchfoot
102            Tegan and Sara
103  Rage Against the Machine
104                     Keane
105                       Jet
106           Franz Ferdinand
107        The Postal Service
108         The Dresden Dolls
109               The Killers
110     Death From Above 1979

[111 rows x 1 columns]

In [35]:
df = df.T

In [39]:
df.shape

(111, 500)

In [40]:
artists["Artist"]

0                Massive Attack
1                       Sublime
2                  Beastie Boys
3                    Neil Young
4                 Dead Kennedys
5                       Orbital
6                   Miles Davis
7                 Leonard Cohen
8                  Van Morrison
9                          NOFX
10                       Rancid
11                         Lamb
12                         Korn
13             Dropkick Murphys
14                    Bob Dylan
15                       Eminem
16                      Nirvana
17                    Van Halen
18                  Damien Rice
19               Elvis Costello
20                    Everclear
21                 Jimi Hendrix
22                    PJ Harvey
23        Red Hot Chili Peppers
24                   Ryan Adams
25                  Soundgarden
26            The White Stripes
27                      Madonna
28                 Eric Clapton
29                   Bob Marley
                 ...
81                       Sparta
82                     Interpol
83           The Crystal Method
84               The Beach Boys
85                    Goldfrapp
86     Bob Marley & the Wailers
87                Kylie Minogue
88           The Blood Brothers
89                        Mirah
90                     Ludacris
91                  Snow Patrol
92               The Mars Volta
93              Yeah Yeah Yeahs
94                   Iced Earth
95                  Fiona Apple
96                   Rilo Kiley
97             Rufus Wainwright
98               Flogging Molly
99                 Hot Hot Heat
100                       Dredg
101                  Switchfoot
102              Tegan and Sara
103    Rage Against the Machine
104                       Keane
105                         Jet
106             Franz Ferdinand
107          The Postal Service
108           The Dresden Dolls
109                 The Killers
110       Death From Above 1979
Name: Artist, Length: 111, dtype: object

In [41]:
df.set_index(list(artists["Artist"]))

KeyError: 'Massive Attack'

In [19]:
artists.shape

(111, 1)

### Approach 2

In [44]:
artist_names = pd.read_csv('../datasets/Musical artists/artists.csv',names=["Name"])
print(artist_names.head())

data2 = data.pivot_table(values="playcount",index=data.artist_offset,columns="user_offset")
data2.fillna(0,inplace=True)
data2.head()

data2.set_index(artist_names["Name"], inplace=True)

             Name
0  Massive Attack
1         Sublime
2    Beastie Boys
3      Neil Young
4   Dead Kennedys

In [46]:
data2.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Name,,,,,,,,,,,,,,,,,,,,,
Massive Attack,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sublime,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
Beastie Boys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Neil Young,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dead Kennedys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
data = pd.read_csv('../datasets/Musical artists/scrobbler-small-sample.csv')

print(data.head())

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [49]:
data2 = data.pivot_table(values="playcount",index=data.artist_offset,tw="user_offset")

In [50]:
data2.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist_offset,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,128.0,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,270.0,NaN,105.0,97.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
data2.fillna(0, inplace=True)
data2.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist_offset,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
data2.set_index(artists["Artist"], inplace=True)

In [53]:
data2.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Artist,,,,,,,,,,,,,,,,,,,,,
Massive Attack,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sublime,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
Beastie Boys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Neil Young,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dead Kennedys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0